# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# App data and Vector DB
db/
chroma.sqlite3

# Streamlit config (optional)
.streamlit/

# OS specific
.DS_Store
Thumbs.db
